<form (ngSubmit)="register()">
  <label for="username">Name:</label>
  <input id="username" [(ngModel)]="user.username" name="username" required />

  <label for="email">Email:</label>
  <input id="email" [(ngModel)]="user.email" name="email" required />

  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="user.password" name="password" required />

  <label for="displayName">Display Name:</label>
  <input
    id="displayName"
    [(ngModel)]="user.displayName"
    name="displayName"
    required
  />

  <label for="bio">Bio:</label>
  <textarea id="bio" [(ngModel)]="user.bio" name="bio" required></textarea>

  <button type="submit">Register</button>
</form>
